In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
import time
import re

from batch_utils.utils_db_alch2 import connectDB
from batch_utils.utils_sql import create_table, update_table, create_typeStr
from batch_utils.utils_dateSeq import batch_sequence
from batch_utils.common import list2sqlstr, _conv2strCol, rm_backward, chunker
from batch_utils import WS_currVal

In [12]:
%qtconsole

In [30]:
bkfil, rtvStart, seq_DT = batch_sequence('backfill', 'M')

Table = 'WSPITCmpIssFData'
Code = ['6751']
Item = '9802'
range_ = 'M2'
cal_dt_ = seq_DT.rename('marketdate')


S0 = pd.Series({'marketdate': 'datetime'})
primary = 'marketdate'
typeStr = create_typeStr(S0, primary=primary)

In [31]:
conn = connectDB(ODBC_NAME="MSSQL_QAD")
create_table(conn, '#Calendar', typeStr, primary=primary)
update_table(conn, '#Calendar', cal_dt_, typeStr, verbose=False)
# Value_ cannot be 0 and EndDate Null at same time
Sql_S = """
Select convert(varchar(8),mm.marketdate,112) as marketdate, dt.Code,
        dt.Item, convert(varchar(8), dt.StartDate,112) as StartDate,
        convert(varchar(8), dt.EndDate,112) as EndDate, dt.Value_
    from #Calendar mm
    left outer join {} dt with (nolock)
    on mm.marketdate >= dt.StartDate
    and mm.marketdate <= isnull(dt.EndDate, dateadd(d,2,GETDATE())) \
""".format(Table)
if range_ is not None:
    Sql_S += (
        '\n    and mm.marketdate ' + 
        f'<= dateadd({range_[0]}, {range_[1:]}, dt.StartDate)\n')
Sql_S += """\
    where dt.Code in ({})
    and dt.Value_ <> -1e+38
    and not (dt.Value_ = 0  and dt.EndDate is NULL)
    and dt.Item='{}'
""".format(list2sqlstr(Code), Item)
DT = pd.read_sql(Sql_S, conn)
conn.close()

In [32]:
DT

    marketdate  Code  Item StartDate   EndDate   Value_
0     20000126  6751  9802  20000107  20000203  0.66881
1     20000226  6751  9802  20000204  20000302  0.66570
2     20000326  6751  9802  20000303  20000406  0.70751
3     20000426  6751  9802  20000407  20000504  0.83705
4     20000526  6751  9802  20000519  20000608  0.96204
5     20000626  6751  9802  20000609  20000629  1.18831
6     20000726  6751  9802  20000721  20000803  1.14312
7     20000826  6751  9802  20000804  20000831  1.39779
8     20000926  6751  9802  20000901  20000928  1.49589
9     20001026  6751  9802  20000929  20001102  1.81534
10    20001126  6751  9802  20001103  20001130  1.89724
11    20001226  6751  9802  20001201  20010104  1.94343
12    20010126  6751  9802  20010105  20010206  1.95106
13    20010226  6751  9802  20010207  20010301  1.96397
14    20010326  6751  9802  20010302  20010329  1.94081
15    20010426  6751  9802  20010330  20010503  1.73519
16    20010526  6751  9802  20010504  20010531  1.72180
17    20010626  6751  9802  20010601  20010628  1.72798
18    20010726  6751  9802  20010629  20010802  1.70734
19    20010826  6751  9802  20010803  20010830  1.98631
20    20010926  6751  9802  20010831  20011004  1.84526
21    20011026  6751  9802  20011005  20011101  2.05377
22    20011126  6751  9802  20011102  20011129  2.28204
23    20011226  6751  9802  20011130  20020103  2.20791
24    20020126  6751  9802  20020104  20020131  2.26458
25    20020226  6751  9802  20020201  20020228  2.19882
26    20020326  6751  9802  20020301  20020404  2.27110
27    20020426  6751  9802  20020405  20020502  2.17532
28    20020526  6751  9802  20020503  20020530  2.08191
29    20020626  6751  9802  20020531  20020704  2.15818
..         ...   ...   ...       ...       ...      ...
194   20160326  6751  9802  20160304  20160331  1.39077
195   20160426  6751  9802  20160401  20160428  1.44596
196   20160526  6751  9802  20160429  20160601  1.47224
197   20160626  6751  9802  20160602  20160629  1.41745
198   20160726  6751  9802  20160701  20160728  1.34803
199   20160826  6751  9802  20160729  20160831  1.51145
200   20160926  6751  9802  20160901  20160929  1.54998
201   20161026  6751  9802  20160930  20161030  1.50618
202   20161126  6751  9802  20161103  20161201  1.47215
203   20161226  6751  9802  20161202  20161229  1.41798
204   20170126  6751  9802  20161230  20170131  1.34217
205   20170226  6751  9802  20170202  20170302  1.36482
206   20170326  6751  9802  20170303  20170330  1.43299
207   20170426  6751  9802  20170331  20170427  1.42543
208   20170526  6751  9802  20170428  20170601  1.40747
209   20170626  6751  9802  20170602  20170629  1.41652
210   20170726  6751  9802  20170630  20170801  1.45234
211   20170826  6751  9802  20170802  20170831  1.43835
212   20170926  6751  9802  20170901  20170928  1.41831
213   20171026  6751  9802  20170929  20171102  1.35950
214   20171126  6751  9802  20171103  20171130  1.35364
215   20171226  6751  9802  20171201  20171228  1.30849
216   20180126  6751  9802  20171229  20180201  1.44625
217   20180226  6751  9802  20180202  20180301  1.26253
218   20180326  6751  9802  20180302  20180329  1.07282
219   20180426  6751  9802  20180330  20180501  1.10946
220   20180526  6751  9802  20180502  20180531  1.10925
221   20180626  6751  9802  20180601  20180628  1.14156
222   20180726  6751  9802  20180629  20180731  1.16731
223   20180826  6751  9802  20180801  20180830  1.14030

[224 rows x 6 columns]